DATABASE_URL="postgresql://user:pass@localhost:5432/novabank?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=3001
JWT_SECRET="generate-256-bit-random-string-here"
JWT_REFRESH_SECRET="different-256-bit-random-string"
WEBAUTHN_RP_NAME="NovaBank"
WEBAUTHN_RP_ID="localhost"
WEBAUTHN_ORIGIN="http://localhost:5173"
EMAIL_HOST="smtp.ethereal.email"
EMAIL_PORT=587
EMAIL_USER=""
EMAIL_PASS=""
HIBP_API_KEY=""
NODE_ENV="development"
